<%= render(partial: 'application/error_messages', locals: {:object => @user})%>
<h1>Update User</h1>
<%= form_for(@user) do |f| %>

<table summary="Subject form fields">
    <%= render(partial: 'form', locals: {f: f}) %>
  <div class="form-buttons">
    <td><%=f.submit("Create User")%></td>
  </div>

    </table>

<% end %>
